{% extends "TechnoStyleApp/base.html" %}
{% load static %}

{%block seccion1%}

<!-- Acordeon con caracteristicas-->
<div class="accordion container" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>Características Principales</strong>
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="container">
                    <li><strong>Marca:</strong><p>{{object.marca}}</p></li>
                    <li><strong>Modelo:</strong><p>{{object.modelo}}</p></li>
                    <li><strong>Categoria:</strong><p>{{object.categoria}}</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>Descripción</strong>
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>{{object.descripcion}}</p>
            </div>
        </div>
    </div>

{%endblock seccion1%}